body{
    line-height:1.5;
    letter-spacing: .5px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10%;
  
}
h1{
    color:#96B125;
}
 
img{
    max-width: 100%
}


ul{
    margin-botton:2rem;
}
