 
*, *:before, *:after { 
box-sizing: border-box;
}

body{
   background: #9D513D url(../img/background2.png) no-repeat;
    background-size: cover;
   font-family: 'PT Sans', sans-serif;
    line-height: 2em;
    padding-bottom: 1.5em;
    
}

h1{
    font-size:30pt;
    padding-top: 1em;
    text-align: center;
}

h2,h3,h4{
    text-align: center;
}

img{
    max-width: 100%;
}

li{
    font-size:18pt;
}
p,h4{
    margin:auto;
   max-width: 70%;
}

ul{
    list-style: none;
}


.menu{
    width:23em;
    margin:auto;
    padding-left: 4em
}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* ---------galaxy-------*/

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}