 
*, *:before, *:after { 
box-sizing: border-box;
}

body{
   background: #9D513D url(../img/background2.png) no-repeat;
    background-size: cover;
   font-family: 'PT Sans', sans-serif;
    line-height: 2em;
    padding-bottom: 1.5em;
    
}

h1{
    font-size:30pt;
    padding-top: 1em;
}
   

img{
    max-width: 100%;
}

p,h4{
    margin:auto;
   max-width: 40%
}

ul{
    list-style: none;
}


.menu{
    text-align:center;
}



